modulo01/wget-log
modulo01/node_modules
modulo01/yarn-error.log
modulo01/.vscode

modulo01/desafio01-conceitosNode/node_modules
modulo01/desafio01-conceitosNode/yarn-error.log
modulo01/desafio01-conceitosNode/.vscode
modulo01/desafio01-conceitosNode/wget-log

modulo02/GoBarber/node_modules
modulo02/GoBarber/yarn-error.log
modulo02/GoBarber/.vscode
modulo02/GoBarber/wget-log

modulo03/GoBarber/node_modules
modulo03/GoBarber/yarn-error.log
modulo03/GoBarber/.vscode
modulo03/GoBarber/wget-log
modulo03/GoBarber/tmp/uploads/*


/wget-log*
*.env
