<link rel="stylesheet" type="text/css" href="/css/cancellation.css">

<strong id="provider-name">Olá, {{ provider }}</strong>
<p id="message-detail">
    Houve um cancelamento de horário, confira os detalhes abaixo:
</p>
<p>
    <strong>Cliente: </strong> {{ user }} <br/>
    <strong>Data/hora</strong> {{ date }} <br/>
    <small>
        Horário está novamente disponível para novos agendamentos.
    </small>
</p>
